<div id="item-categories" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top"><a href="#consumables">Consumables</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#attributes">Attributes</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#armaments">Armaments</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#arcane">Arcane</a></li>
		
		<li class="ui-state-default ui-corner-top"><a href="#common">Common</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#support">Support</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#caster">Caster</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#weapons">Weapons</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#armor">Armor</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#artifacts">Artifacts</a></li>
		
		<li class="ui-state-default ui-corner-top"><a href="#secret-shop">Secret Shop</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#drop-only">Drop Only</a></li>
	</ul>

	<%= render "items/categories/consumables" %>
	<%= render "items/categories/attributes" %>
	<%= render "items/categories/armaments" %>
	<%= render "items/categories/arcane" %>

	<%= render "items/categories/common" %>
	<%= render "items/categories/support" %>
	<%= render "items/categories/caster" %>
	<%= render "items/categories/weapons" %>
	<%= render "items/categories/armor" %>
	<%= render "items/categories/artifacts" %>

	<%= render "items/categories/secret-shop" %>
	<%= render "items/categories/drop-only" %>
</div>