<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @item.cost %>
</p>

<p>
  <b>Active:</b>
  <%= @item.active %>
</p>

<p>
  <b>Bonus:</b>
  <%= @item.bonus %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
